# Repository Configuration Error

## What is the error?

The value `@run_on@` is not a valid operation for the `run_on` configuration.

## What to do?

See the [documentation](https://terrateam.io/docs/configuration-reference/workflows/#run) for the list of `run_on` values.
