## Access Control :no_entry:

The user `@user@` does not have permission to perform this operation on any of the changed directories.

| Dir | Workspace | Policy
| --- | --------- | ------ |
@#denies-@
| `@dir@` | `@workspace@` | @^match_list@@#match_list@`@item@` @/match_list-@@/match_list@@^!match_list@**No matching policy**@/match_list@ |
@/denies-@

The access control rules are sourced from the Stategraph [configuration file](https://stategraph.com/docs/configuration) in the `@default_branch@` branch.

See the [documentation](https://stategraph.com/docs/configuration-reference/access-control/) to learn how to configure access control.
