## Repository Configuration File Error :heavy_multiplication_x:

Could not perform operation because there is an error in the Stategraph repository configuration (located in `@fname@`).

```
@msg@
```

Check the repository configuration [documentation](https://stategraph.com/docs/configuration).

After resolving the issue, comment `terrateam plan` to rerun the planning operation.
