apply_requirements:
  create_completed_apply_check_on_noop: true

when_modified:
  file_patterns: []
  autoplan_draft_pr: false

dirs:
  'rfds/**/index*':
    tags: ['rfd']
    when_modified:
      file_patterns: ['${DIR}/*']
  'code':
    tags: ['code']
    when_modified:
      file_patterns: ['${DIR}/**/*']

workflows:
  - tag_query: rfd
    lock_policy: none
    engine:
      name: custom
    plan:
      - type: run
        cmd: ['${TERRATEAM_ROOT}/bin/verify-commit-msg']
        visible_on: always
        on_error:
          - type: gate
            token: rfd-commit-msg
            any_of_count: 1
      - type: run
        cmd: ['${TERRATEAM_ROOT}/rfds/bin/validate-state']
        visible_on: always
      - type: plan
  - tag_query: code
    lock_policy: none
    engine:
      name: custom
    plan:
      - type: run
        cmd: ['${TERRATEAM_ROOT}/bin/verify-commit-msg']
        visible_on: always
        on_error:
          - type: gate
            token: code-commit-msg
            any_of_count: 1
      - type: plan    

cost_estimation:
  enabled: false
