## Access Control :no_entry:

The operation could not be performed because of an API error.  This is likely intermittent.  Try the operation again.  If it continues to fail, reach out to support via Slack or send feedback here by commenting `terrateam feedback I'm experiencing a recurring API error`.

The access control rules are sourced from the Terrateam [configuration file](https://terrateam.io/docs/configuration) in the `@default_branch@` branch.

See the [documentation](https://terrateam.io/docs/features/access-control) to learn how to configure access control.
