## Access Control :no_entry:

The user `@user@` does not have permission to perform any operation in this change.

The file `@filename@` has been modified and the user is not in the access control list.

This change requires a user matching at least one of the following entries:

@#match_list-@
- `@item@`
@/match_list-@

The access control rules are sourced from the Terrateam [configuration file](https://terrateam.io/docs/configuration) in the `@default_branch@` branch.

See the [documentation](https://docs.terrateam.io/configuration-reference/access-control/) to learn how to configure access control.
