## Source or Destination Branch Error :heavy_multiplication_x:

Terrateam is not configured to run with the following source and destination branch combination:

Source Branch: `@source_branch@`
Destination Branch: `@dest_branch@`

See the [documentation](https://terrateam.io/docs/features/destination-branches) for details on how to configure source and destination branches.
