# Cannot Perform Apply :heavy_multiplication_x:

`apply_requirements` have not passed.

@#checks-@
## Directory @dir@ : Workspace @workspace@ : @?passed@:thumbsup: Passed@/passed@@!passed@:heavy_multiplication_x: Failed@/passed@
@?approved_enabled-@
**Approved**: @?approved_check@:thumbsup: Passed@/approved_check@@!approved_check@:heavy_multiplication_x: Failed@/approved_check@
@/approved_enabled-@
@?merge_conflicts_enabled-@
**Merge Conflicts**: @?merge_conflicts_check@:thumbsup: Passed@/merge_conflicts_check@@!merge_conflicts_check@:heavy_multiplication_x: Failed@/merge_conflicts_check@
@/merge_conflicts_enabled-@
@?ready_for_review_enabled-@
**Ready for Review**: @?ready_for_review_check@:thumbsup: Passed@/ready_for_review_check@@!ready_for_review_check@:heavy_multiplication_x: Failed - Pull request still in draft stage.@/ready_for_review_check@
@/ready_for_review_enabled-@
@?status_checks_enabled-@
**Status Checks**: @?status_checks_check@:thumbsup: Passed@/status_checks_check@@!status_checks_check@:heavy_multiplication_x: Failed@/status_checks_check@
@!status_checks_check-@

Failed status checks:

@#status_checks_failed-@
- @title@
@/status_checks_failed-@
@/status_checks_check-@
@/status_checks_enabled-@
@/checks-@
