# Cannot Perform Apply :heavy_multiplication_x:

`apply_requirements` have not passed.

{% for c in checks %}
## Directory {{ c.dir }} : Workspace {{ c.workspace }} : {% if c.passed %}:thumbsup: Passed{% else %}:heavy_multiplication_x: Failed{% endif %}
  {% if c.matched_apply_requirement %}
    {% if c.apply_after_merge_enabled %}
**Apply After Merge**: {% if c.apply_after_merge_check %}:thumbsup: Passed{% else %}:heavy_multiplication_x: Failed{% endif %}
    {% endif %}
    {% if c.approved_enabled %}
**Approved**: {% if c.approved_check %}:thumbsup: Passed{% else %}:heavy_multiplication_x: Failed{% endif %}
      {% if c.missing_reviews %}

The following required reviews are missing:

        {% for r in c.missing_reviews %}
- `{{ r }}`
        {% endfor %}
      {% endif %}
    {% endif %}
    {% if c.missing_any_of_count > 0 %}

Missing {{ c.missing_any_of_count }} reviews from any of the following:

      {% for r in c.any_of %}
- `{{ r }}`
      {% endfor %}
    {% endif %}
    {% if c.merge_conflicts_enabled %}
**Merge Conflicts**: {% if c.merge_conflicts_check %}:thumbsup: Passed{% else %}:heavy_multiplication_x: Failed{% endif %}
    {% endif %}
    {% if c.ready_for_review_enabled %}
**Ready for Review**: {% if c.ready_for_review_check %}:thumbsup: Passed{% else %}:heavy_multiplication_x: Failed - Pull request still in draft stage.{% endif %}
    {% endif %}
    {% if c.status_checks_enabled %}
**Status Checks**: {% if c.status_checks_check %}:thumbsup: Passed{% else %}:heavy_multiplication_x: Failed{% endif %}

      {% if not c.status_checks_check %}
The following status checks have not passed. They may still be running or have failed. Terrateam will proceed with the apply only after all status checks are successful.  To disable or ignore specific status checks, see the [apply requirements documentation](https://docs.terrateam.io/configuration-reference/apply-requirements/#checks).

        {% for ch in c.status_checks_failed %}
- {{ ch.title }}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% else %}
No matching apply requirement found.
  {% endif %}
{% endfor %}
