# Repository Configuration Error

## What is the error?

Could not parse the file glob `@glob@`.

Parsing failed with the error:

```
@error@
```

## What to do?

See the [documentation](https://terrateam.io/docs/configuration-reference/when-modified/#file-patterns) for file globs.
