# Repository Configuration Error

## What is the error?

Could not parse the tag query `@query@` in drift configuration.

@error@

## What to do?

See the [documentation](https://terrateam.io/docs/advanced-workflows/tags#crafting-tag-queries) describing tag queries.
