{%- if overall_success %}
## Applies :white_check_mark:
  {%- if account_status == 'trial_ending' %}

> [!WARNING]
> Your Terrateam trial ends in **{{ trial_end_days }} days**.  To avoid an interruption in service, please reach out to support@terrateam.io or contact us on [our Slack](https://terrateam.io/slack).

  {%- endif %}
  {%- if work_manifest_url is defined %}

Outputs can be viewed in the Terrateam Console [here]({{ work_manifest_url }}).

  {%- endif %}
  {%- if denied_dirspaces %}

<details open>
  <summary><h2>Access Control :no_entry:</h2></summary>

Not all [dirspaces](https://docs.terrateam.io/getting-started/concepts/#dirspace) were run because the user did not have access.  The following dirspaces were not run:

| Dir | Workspace | Policy |
| --- | --------- | ------ |
      {% for dd in denied_dirspaces -%}
| {{ dd.dir }} | {{ dd.workspace }} | {% if dd.policy %}{% for p in dd.policy %}{{ p.item }}{% endfor %}{% else %}**No matching policy**{% endif %}
      {% endfor %}
</details>
  {%- endif %}
  {%- if is_layered_run and num_more_layers > 1 %}

> [!NOTE]
> This is a **layered run** with {{ num_more_layers - 1 }} {% if num_more_layers == 2 %}layer{% else %}layers{% endif %} remaining to plan and apply.  Layered runs require multiple rounds of planning and applying.


> [!IMPORTANT]
> Any workspaces in the next layer that have autoplan enabled will be automatically be planned. Comment `terrateam plan` to explicitly plan the next layer.

  {%- endif %}

## Terrateam Apply Output{% if environment is defined %}: {{ environment }}{% endif %} :white_check_mark:
<details>
  <summary>Expand for apply output details</summary>

{%- else %}

## Applies :heavy_multiplication_x:
  {%- if work_manifest_url is defined %}
    
Outputs can be viewed in the Terrateam Console [here]({{ work_manifest_url }}).

  {%- endif %}

Running plans **FAILED**.  See **Terrateam Apply Output**.

## Terrateam Apply Output{% if environment is defined %}: {{ environment }}{% endif %} :heavy_multiplication_x:

<details>
  <summary>Expand for apply output details</summary>
{%- endif %}
{%- if pre_hooks %}

<details>
  <summary><h3>Pre Hooks</h3></summary>

    {%- for h in pre_hooks %}

**Step**: {{ h.name }}
**Success**: {% if h.success %}:thumbsup:{% else %}:heavy_multiplication_x:{% endif %}
      {%- if h.cmd is defined %}

**Command** : `{{ h.cmd }}`
      {%- endif %}
      {%- if h.details is defined %}

**Details**: {{ h.details }}
      {%- endif %}
      {%- if not compact_view %}
```
{{ h.text }}
```
    {%- else %}

No output shown due to comment size.

    {%- endif %}
    {%- endfor %}

</details>
{%- endif %}
{%- if post_hooks %}

<details>
    <summary><h3>Post Hooks</h3></summary>

    {%- for h in post_hooks %}

**Step**: {{ h.name }}
**Success**: {% if h.success %}:thumbsup:{% else %}:heavy_multiplication_x:{% endif %}
      {%- if h.cmd is defined %}

**Command** : `{{ h.cmd }}`
      {%- endif %}
      {%- if h.details is defined %}

**Details**: {{ h.details }}
      {%- endif %}
      {%- if not compact_view %}
```
{{ h.text }}
```
    {%- else %}

No output shown due to comment size.

    {%- endif %}
    {%- endfor %}

</details>
{%- endif %}
{%- for d in dirspaces %}

## {{ d.dir }} {% if d.success %}:white_check_mark:{% else %}:heavy_multiplication_x:{% endif %}
  {%- if compact_dirspaces %}

<details>
  <summary>Expand for details</summary>

---

  {%- endif %}

**Dir**: {{ d.dir }}
**Workspace**: {{ d.workspace }}
**Success**: {% if d.success %}:white_check_mark:{% else %}:heavy_multiplication_x:{% endif %}

  {%- for s in d.steps %}

**Step**: {{ s.name }}
**Success**: {% if s.success %}:white_check_mark:{% else %}:heavy_multiplication_x:{% endif %}
    {%- if s.cmd is defined %}

**Command**: `{{ s.cmd }}`
    {%- endif %}
    {%- if s.details is defined %}

**Details**: {{ s.details }}
    {%- endif %}
    {%- if not compact_view %}

```
{{ s.text }}
```
    {%- else %}

No output shown due to comment size.
    {%- endif %}
  {%- endfor %}
  {%- if compact_view %}

</details>
  {%- endif %}
{%- endfor %}

</details>
