# Error in apply requirements configuration

The approver query `@query@` is not a valid query.

## What to do?

Correct the query in the approver list in the configuration file in `.terrateam/`.  This must be done in a separate change and merged into the default branch of the repository.  The `apply_requirements` query is always read from the default branch.

