# Error validationg apply requirements

There was an unknown error when validating the apply requirements.

## What to do?

The error is most likely temporary.  Try again in a few minutes.


If this persists, please reach out to support@@terrateam.io or ping us on [Slack](https://terrateam.io/slack).
