# Error in apply requirements configuration

The tag query `@query@` could not be parsed.

@error@

## What to do?

Correct the tag query in the configuration file in `.terrateam/`.  This must be done in a separate change and merged into the default branch of the repository.  The `apply_requirements` query is always read from the default branch.

