Unable to start workflow due to missing inputs.

Please ensure that your `.gitlab-ci.yml` contains the following:

```yaml
spec:
  inputs:
    TERRATEAM_TRIGGER:
      description: "Is this being triggered by terrateam?"
      type: string
      default: "$TERRATEAM_TRIGGER"
    WORK_TOKEN:
      description: "The work token from terrateam"
      type: string
      default: "$WORK_TOKEN"
    API_BASE_URL:
      description: "The base url for the terrateam api"
      type: string
      default: "$API_BASE_URL"
    RUNS_ON:
      description: "The tags to use for the runner"
      type: array
      default: []
---
include:
  - project: 'terrateam-io/terrateam-template'
    file: 'terrateam-template.yml'
    inputs:
      TERRATEAM_TRIGGER: $[[ inputs.TERRATEAM_TRIGGER ]]
      WORK_TOKEN: $[[ inputs.WORK_TOKEN ]]
      API_BASE_URL: $[[ inputs.API_BASE_URL ]]
      RUNS_ON: $[[ inputs.RUNS_ON ]]

stages:
  - terrateam

terrateam_job:
  extends: .terrateam_template
```

For help on configuring the GitLab CI, see the documentation:

https://terrateam.io/docs/getting-started
