### 🚫 Gatekeeper Requirements Not Satisfied

This pull request is blocked until  approvals are satisfied.

<details>
    <summary>
        Expand for list of gates that have not been approved
    </summary>

{%- set token_gates = denied | rejectattr("token", "none") %}
{%- set approval_gates = denied | selectattr("token", "none") %}

{%- if token_gates %}

### Token Gates
| Token | Directory | Workspace | Required Approvers           | Any Approvers | Any Remaining Count |
|-------|-----------|-----------|------------------------------|---------------|---------------------|
{%- for d in token_gates %}
| `{{ d.token }}` | {% if d.dir %}`{{ d.dir }}`{% endif %} | {% if d.workspace %}`{{ d.workspace }}`{% endif %} | {% for q in d.all_of %}`{{ q }}`{% endfor %} | {% for q in d.any_of %}`{{ q }}`{% endfor %} | {{ d.any_of_count }} |
{%- endfor %}

These gates are fulfilled by commenting `terrateam gate approve <token>`.
{%- endif %}
{%- if approval_gates %}

### Approval Gates
| Name | Directory | Workspace | Required Approvers           | Any Approvers | Any Remaining Count |
|------|-----------|-----------|------------------------------|---------------|---------------------|
{%- for d in approval_gates %}
| {{ d.name | default('', true) }} | {% if d.dir %}`{{ d.dir }}`{% endif %} | {% if d.workspace %}`{{ d.workspace }}`{% endif %} | {% for q in d.all_of %}`{{ q }}`{% endfor %} | {% for q in d.any_of %}`{{ q }}`{% endfor %} | {{ d.any_of_count }} |
{%- endfor %}

These gates are fulfilled by approving the pull request.
{%- endif %}

### What to do?

To continue, users matching the `Required Approvers` and `Any Approvers` must approve the gate until all approvals are satisfied.

To approve a gate with a token, comment the following:

```
terrateam gate approve <token>
```

Where `<token>` is the token to be approved.

To approve a gate without a token, approve the pull request.

#### How Gatekeeper requirements work

Gatekeeper uses `all_of`, `any_of`, and `any_of_count` to define approval rules:

- `all_of` - Lists users or groups that must approve unconditionally.
- `any_of` - Lists users or groups that may approve.
- `any_of_count` - Sets how many approvals are required from the `any_of` list.

A gate is satisfied only when all conditions are met. See [documentation](https://docs.terrateam.io/advanced-workflows/gatekeeper-requirements) for details.
</details>
