# Operation Canceled

## Why did this happen?
This pull request was already merged, and another pull request was merged between the initiation of this operation and when the action was executed. To ensure accuracy, Terrateam cancels the operation if changes occur during this window.

## What should you do?
Initiate the operation again via a GitHub comment. Terrateam will perform the operation against the most recent commit of the destination branch (HEAD).
