## Multiple Drift Schedules is a Commercial Feature

Multiple drift schedules have been defined in the Terrateam configuration located in `.terrateam/config.yml`.

Multiple drift schedules are available in Terrateam's commercial offering. If you need multiple drift schedules, consider upgrading to a commercial plan.

For more details, visit our [pricing page](https://terrateam.io/pricing) or contact us at support@@terrateam.io.
