# Repository Configuration Error

## What is the error?

Could not parse `@match@` in the access control file list for the file `@path@`.

## What to do?

See the [documentation](https://terrateam.io/docs/configuration-reference/access-control#rule-syntax) for the rule syntax.
