# Repository Configuration Error

## What is the error?

Invalid drift schedule `@schedule@`.

## What to do?

See the [documentation](https://terrateam.io/docs/advanced-workflows/drift-detection/#enabling-drift-detection) for valid drift schedules.
