# Repository Configuration Error

## What is the error?

The value `@tz@` is not a valid timezone for a drift window.

## What to do?

See the [documentation](https://docs.terrateam.io/configuration-reference/drift/) for the list of valid timezones.
