## Repository Config

<details>
  <summary>Details</summary>

@#?provenance-@
To help debug repository configurations, this allows viewing the configuration as Terrateam evaluates it.

This configuration was constructed using the following sources:

@#provenance-@
- `@src@`
@/provenance-@
@/provenance-@
@#!provenance-@
No configuration files exist, the configuration is the default.
@/provenance-@

```yaml
@repo_config@
```
</details>