# Repository Configuration Error

## What is the error?

The pattern `@pattern@` could not be parsed.

## What to do?

See the [documentation](https://terrateam.io/docs/configuration-reference/tags/#matching-tags-with-regular-expressions) for the pattern syntax.
