# Repository Configuration Error

## What is the error?

The value `@lock_policy@` is not a valid operation for the `lock_policy` configuration.

## What to do?

See the [documentation](https://terrateam.io/docs/advanced-workflows/locks-and-concurrency/#locking-policies) for the list of `lock_policy` values.
