:root {
  --purple-hsl: 255, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.2);
}

:root[data-theme="light"] {
  --purple-hsl: 255, 85%, 65%;
}

[data-has-hero] .page {
  background:
    linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
      105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
      calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

.site-title {
  justify-self: flex-start;
  align-items: center;
  gap: var(--sl-nav-gap);
  font-family: "Inter", sans-serif;
  font-size: var(--sl-text-h4);
  font-weight: 900;
  text-decoration: none;
  white-space: nowrap;
  --tw-text-opacity: 1;
}

[data-theme="dark"] .site-title {
  color: rgb(236, 237, 243);
}

[data-theme="light"] .site-title {
  color: rgb(22, 24, 29);
}

.content-panel {
  padding: 4.5rem var(--sl-content-pad-x);
}

summary {
  cursor: pointer;
}

summary > * {
  display: inline;
}

.sl-markdown-content ul:not([role="tablist"]) {
  list-style: disc inside;
}

.sl-markdown-content ul:not([role="tablist"]) ul:not([role="tablist"]),
.sl-markdown-content ol ul:not([role="tablist"]) {
  list-style-type: circle;
}

.sl-markdown-content ul ul,
.sl-markdown-content ul ol,
.sl-markdown-content ol ul,
.sl-markdown-content ol ol {
  padding-left: 1rem;
}

.content-panel {
  padding: 1.5rem var(--sl-content-pad-x);
}

.sl-markdown-content :is(th, td):not(:where(.not-content *)) > code {
    overflow-wrap: normal;
}
