## Access Control :no_entry:

The user `@user@` does not have permission to perform this operation on any of the changed directories.

| Dir | Workspace | Policy
| --- | --------- | ------ |
@#denies-@
| `@dir@` | `@workspace@` | @^match_list@@#match_list@`@item@` @/match_list-@@/match_list@@^!match_list@**No matching policy**@/match_list@ |
@/denies-@

The access control configuration is taken from the Terrateam configuration is the `@default_branch@` branch.

See the [documentation](https://docs.terrateam.io/configuration/access-control) for how to configure access control.