## Access Control :no_entry:

Cannot continue with the operation because the Terrateam repository configuration file has been modified and the user `@user@` does not have permissions in this case.

This change requires a user matching at least one of the following entries:

@#match_list-@
- `@item@`
@/match_list-@

The access control configuration is taken from the Terrateam configuration is the `@default_branch@` branch.

See the [documentation](https://terrateam.io/docs/features/access-control) for how to configure access control.
