## Access Control :no_entry:

The operation could not be performed because of an API error.  This is likely intermittent.  Try the operation again.  If it continues to fail, reach out to support via Slack or send feedback here by commenting `terrateam feedback I'm experiencing a recurring API error`.

The access control configuration is taken from the Terrateam configuration is the `@default_branch@` branch.

See the [documentation](https://docs.terrateam.io/configuration/access-control) for how to configure access control.