## Access Control :no_entry:

Permissions to perform this operation could not be performed because the following policy entry is invalid:

`@query@`

The access control configuration is taken from the Terrateam configuration is the `@default_branch@` branch.

See the [documentation](https://docs.terrateam.io/configuration/access-control) for the list of valid policy entries.
