## Malformed Glob

There is an error in the repository configuration with a malformed glob, either in a `dirs` specification or a `file_patterns`.  Note, if you're using using `${DIR}`, that is only valid in `dirs` entries that have a glob (`*` or `**`) in them.

The malformed glob is `@glob@`.