## Destination Branch Error :heavy_multiplication_x:

Terrateam requires that the destination branch be the default branch of the repository (usually `main` or `master`).

Override the list of destination branches by specifying the `destination_branches` configuration in the [documentation](https://docs.terrateam.io/configuration/destination-branches).
