## Missing Plans :heavy_multiplication_x:

Cannot perform apply due to missing plans for the following directory and workspaces:

| Dir | Workspace |
| --- | --------- |
@#dirspaces-@
| `@dir@` | `@workspace@` |
@/dirspaces-@

Plans are necessary to perform an apply.  In order to create all plans necessary to apply this change, comment the following:

`terrateam plan`
