Cannot perform action because some directories and workspaces are owned by other pull requests.

| Dir | Workspace | Owner |
| --- | --------- | ----- |
@#dirspaces-@
| `@dir@` | `@workspace@` | #@pull_request_id@ |
@/dirspaces-@

To allow this change to be applied, you can apply the comment below in **each of the listed pull requests** to remove any locks on directories that they have.

```
terrateam unlock
```
