The GitHub Workflow for Terrateam could not be found.  This workflow **must** be merged into the default branch (usually `main` or `master`) before using Terrateam.

For help on configuring the GitHub Action, see the documentation:

https://docs.terrateam.io/getting-started
