@?overall_success-@
## Applies :heavy_check_mark:

Running applies **succeeded**. See **Terrateam Apply Output**.
@/overall_success-@
@!overall_success-@
## Applies :heavy_multiplication_x:

Running applies **failed**.  See **Terrateam Apply Output**.
@/overall_success-@

<details>
  <summary><h2>Terrateam Apply Output @?overall_success@:heavy_check_mark:@/overall_success@@!overall_success@:heavy_multiplication_x:@/overall_success@</h2></summary>

@#results-@
**Dir**: @dir@
**Workspace**: @workspace@
**Success**: @?success@:heavy_check_mark:@/success@@!success@:heavy_multiplication_x:@/success@

@#output-@
@?success-@
```
@apply@
```
@/success-@
@!success-@
```
@^errors-@
@errors@
@/errors-@
@^init-@
@init@
@/init-@
@^apply-@
@apply@
@/apply-@
```
@/success-@
@/output-@
@/results-@

</details>
