## Repository Configuration File Error :heavy_multiplication_x:

Could not perform operation because there is an error in the Terrateam repository configuration (located in `.terrateam/`).

```
@msg@
```

Check the repository configuration [documentation](https://docs.terrateam.io/configuration/overview).

After resolving the issue, comment `terrateam plan` to rerun the planning operation.
