## Plans
@?overall_success-@
:heavy_check_mark: Running plans **succeeded**.
@/overall_success-@
@!overall_success-@
:heavy_multiplication_x: Running plans **failed**.
@/overall_success-@

<details>
  <summary>Click to expand</summary>

@#results-@
**Dir**: @dir@
**Workspace**: @workspace@
**Success**: @?success@:heavy_check_mark:@/success@@!success@:heavy_multiplication_x:@/success@

@#output-@
@?success-@
```diff
@plan_diff@
```

<details>
  <summary>To apply this directory and workspace...</summary>

```
terrateam apply dir:@dir@ workspace:@workspace@
```

</details>

@/success-@
@!success-@
```
@^errors-@
@#errors-@
@line@
@/errors-@
@/errors-@
@^init-@
@init@
@/init-@
@^plan-@
@plan@
@/plan-@
```
@/success-@
@/output-@
@/results-@



@?overall_success-@
---

To apply all these changes, comment:

```
terrateam apply
```

</details>
@/overall_success-@
@?overall_success-@

@^cost_estimation-@
## Cost Estimation
@#cost_estimation-@
**Total Monthly Difference: @diff_monthly_cost | money@ @currency@**
<details>
  <summary>Expand for cost estimation details</summary>

| Dir | Workspace | Monthly Diff |
| :---: | :---: | ---: |
@#dirspaces-@
| @dir@ | @workspace@ | @diff_monthly_cost | money@ @currency@|
@/dirspaces-@
| | **Total** | **@diff_monthly_cost | money@ @currency@** |
@/cost_estimation-@
</details>
@/cost_estimation-@
@/overall_success-@

## Feedback

Give feedback by commenting `terrateam feedback <your msg>`.

