@?overall_success-@
Running applies **succeeded**.
@/overall_success-@
@!overall_success-@
Running applies **failed**.
@/overall_success-@

@#results-@
**Dir**: @dir@
**Workspace**: @workspace@
**Success**: @?success@:heavy_check_mark:@/success@@!success@:heavy_multiplication_x:@/success@

@#output-@
@?success-@
```
@apply@
```
@/success-@
@!success-@
```
@^errors-@
@errors@
@/errors-@
@^init-@
@init@
@/init-@
@^apply-@
@apply@
@/apply-@
```
@/success-@
@/output-@
@/results-@
