The output of this operation exceeds the GitHub comment size and cannot be displayed.

To continue, do any of the following:

- If the pull request contains changes in multiple directories, reduce the output size by running directories in separately (see the documentation for [plan](https://terrateam.io/docs/using-terrateam/commands#target-a-directory) and [apply](https://terrateam.io/docs/using-terrateam/commands#target-a-directory-1) or use a tag query (see example for [plan](https://terrateam.io/docs/using-terrateam/commands#target-a-tag-query) or [apply](https://terrateam.io/docs/using-terrateam/commands#target-a-tag-query-1)).
- Review the GitHub Action log.  The GitHub Action log contains all of the Terraform output.
- Reduce the number of changes in the pull request.

For further support:

- Join our [Slack community](https://slack.terrateam.io/) (Fastest)
- Email us directly at support@@terrateam.io
