## Changes owned by other pull requests :heavy_multiplication_x:

Cannot perform action because some directories and workspaces are owned by other pull requests.

| Dir | Workspace | Owner |
| --- | --------- | ----- |
@#dirspaces-@
| `@dir@` | `@workspace@` | #@pull_request_id@ |
@/dirspaces-@

To allow this change to be applied, comment `terrateam unlock` in **each of the listed pull requests** to remove the locks.