@-?overall_success-@
## Plans :thumbsup:
@?compact_view-@
This is a compact view of the plan.  See Action output for details.

@/compact_view-@
<details>
  <summary><h2>Terrateam Plan Output :thumbsup:</h2></summary>

@/overall_success-@
@!overall_success-@
## Plans :heavy_multiplication_x:

Running plans **FAILED**.  See **Terrateam Plan Output**.

@?maybe_credentials_error-@
Verify that the **credentials** are setup.  For more information, see the [authentication](https://docs.terrateam.io/authentication/overview) documentation.

@/maybe_credentials_error-@
After resolving the issue, run `terrateam plan` to execute the plan operation again.

<details>
  <summary><h2>Terrateam Plan Output :heavy_multiplication_x:</h2></summary>

<details>
  <summary><h3>Pre Hooks</h3></summary>

@#pre_hooks-@
**Step**: @step_type@
@?success-@
**Success**: :thumbsup:
@/success-@
@!success-@
**Success**: :heavy_multiplication_x:
@/success-@
```
@text@
```
@/pre_hooks-@
</details>

<details>
  <summary><h3>Post Hooks</h3></summary>

@#post_hooks-@
**Step**: @step_type@
@?success-@
**Success**: :thumbsup:
@/success-@
@!success-@
**Success**: :heavy_multiplication_x:
@/success-@
```
@text@
```
@/post_hooks-@
</details>
@/overall_success-@

@#results-@
**Dir**: @dir@
**Workspace**: @workspace@
**Success**: @?success@:thumbsup:@/success@@!success@:heavy_multiplication_x:@/success@

@?success-@
```diff
@#outputs-@
@^plan_text-@
@?compact_view-@
@text | compact_plan | plan_diff@
@/compact_view-@
@!compact_view-@
@text | plan_diff@
@/compact_view-@
@/plan_text-@
@/outputs-@
```

<details>
  <summary>To apply this directory and workspace...</summary>

```
terrateam apply dir:@dir@ workspace:@workspace@
```

</details>

@/success-@
@!success-@
@#outputs-@
@% Don't do anything if this is a plan_text output -@
@^!plan_text-@
**Step**: @step_type@
@?success-@
**Success**: :thumbsup:
@/success-@
@!success-@
**Success**: :heavy_multiplication_x:
@/success-@
```
@text@
```
@/plan_text-@
@/outputs-@
@/success-@
@/results-@

</details>
@?overall_success-@

To apply all these changes, comment:

```
terrateam apply
```
@/overall_success-@
@?overall_success-@

@^cost_estimation-@
## Cost Estimation
@#cost_estimation-@
**Total Monthly Difference: @diff_monthly_cost | money@ @currency@**
<details>
  <summary>Expand for cost estimation details</summary>

| Dir | Workspace | Previous (@currency@) | New (@currency@) | Diff (@currency@) |
| :---: | :---: | ---: | ---: | ---: |
@#dirspaces-@
| @dir@ | @workspace@ | @prev_monthly_cost | money@ | @total_monthly_cost | money@ | @diff_monthly_cost | money@|
@/dirspaces-@
| | **Total** | **@prev_monthly_cost | money@** | **@total_monthly_cost | money@** | **@diff_monthly_cost | money@** |
@/cost_estimation-@
</details>
@/cost_estimation-@
@/overall_success-@

---

<details>
  <summary><h3>Feedback?</h3></summary>

Questions? Comments? Give feedback by commenting `terrateam feedback <your msg>`.  Your message lands directly in our inbox.

</details>
