@-?overall_success-@
## Applies :thumbsup:

<details>
  <summary><h2>Terrateam Apply Output :thumbsup:</h2></summary>

@-/overall_success-@
@-!overall_success-@
## Applies :heavy_multiplication_x:

Running plans **FAILED**.  See **Terrateam Apply Output**.

<details>
  <summary><h2>Terrateam Apply Output :heavy_multiplication_x:</h2></summary>

<details>
  <summary><h3>Pre Hooks</h3></summary>

@-#pre_hooks-@
**Step**: @step_type@
@-?success-@
**Success**: :thumbsup:
@-/success-@
@-!success-@
**Success**: :heavy_multiplication_x:
@-/success-@
```
@text@
```
@-/pre_hooks-@
</details>

<details>
  <summary><h3>Post Hooks</h3></summary>

@-#post_hooks-@
**Step**: @step_type@
@-?success-@
**Success**: :thumbsup:
@-/success-@
@-!success-@
**Success**: :heavy_multiplication_x:
@-/success-@
```
@text@
```
@-/post_hooks-@
</details>
@/overall_success-@

@-#results-@
**Dir**: @dir@
**Workspace**: @workspace@
**Success**: @?success@:thumbsup:@/success@@!success@:heavy_multiplication_x:@/success@

@-?success-@
```
@-#outputs-@
@-^apply-@
@text@
@-/apply-@
@-/outputs-@
```

@-/success-@
@-!success-@
@-#outputs-@
@-% Don't do anything if this is a plan_text output -@
@-^!plan_text-@
**Step**: @step_type@
@-?success-@
**Success**: :thumbsup:
@-/success-@
@-!success-@
**Success**: :heavy_multiplication_x:
@-/success-@
```
@text@
```
@-/plan_text-@
@-/outputs-@
@-/success-@
@-/results-@

</details>
