## Repository Config

<details>
  <summary>What is this?</summary>

To help debug repository configurations, this allows viewing the configuration as Terrateam evaluates it.  The output is in JSON.  There are two sections:

1. The repository configuration as Terrateam sees it.
2. The `dirs` section evaluated.  The Terrateam backend expands any globs out in this section.

**Note**: The repository configuration from the destination branch is used to evaluate user permissions and is not evaluated in this operation.
</details>

JSON Representation of the repository config:

```json
@repo_config@
```

Evaluated `dirs` section:

```json
@dirs@
```
