## Repository Config

<details>
  <summary>What is this?</summary>

To help debug repository configurations, this allows viewing the configuration as Terrateam evaluates it.  The 
</details>

@#?provenance-@
This configuration was constructed using the following files:

@#provenance-@
- `@src@`
@/provenance-@
@/provenance-@
@#!provenance-@
No configuration files exist, the configuration is the default.
@/provenance-@

```yaml
@repo_config@
```
