# Repository Configuration Error

## What is the error?

The value `@visibility@` is not a valid operation for the `visibility` configuration.

## What to do?

See the [documentation](https://terrateam.io/docs/configuration-reference/workflows/#visibility) for the list of `visibility` values.
