**Whoops, I don't understand that command.**

List of Terrateam commands:

- `terrateam plan` - Perform a plan command across all changes.
- `terrateam plan <tag_query>` - Perform a plan command across only those changes which match the tag query.
- `terrateam apply` - Perform an apply command across all changes.
- `terrateam apply <tag_query>` - Perform an apply command across only those changes which match the tag query.
- `terrateam unlock` - Release any locks this pull request owns.  Useful for getting out of a sticky situation.

For more help see:

https://docs.terrateam.io/
