## Source or Destination Branch Error :heavy_multiplication_x:

Stategraph is not configured to run with the following source and destination branch combination:

Source Branch: `@source_branch@`
Destination Branch: `@dest_branch@`

See the [documentation](https://stategraph.com/docs/configuration-reference/destination-branches/) for details on how to configure source and destination branches.
