The GitLab Workflow for Stategraph could not be found.  This workflow **must** be merged into the default branch (usually `main` or `master`) before using Stategraph.

For help on configuring the GitLab CI, see the documentation:

https://stategraph.com/docs/getting-started
