name: base

on:
  workflow_dispatch:

jobs:
  build-push:
    runs-on: ubuntu-latest
    environment: production

    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set version tag
        run: |
          ./scripts/version_tag >> $GITHUB_ENV

      - name: Build and push multi-architecture image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/terrat/Dockerfile.consolidated
          push: true
          platforms: linux/amd64,linux/arm64
          target: build-base
          tags: |
            ghcr.io/${{ github.repository_owner }}/terrat-base:${{ env.VERSION_TAG }}
