name: staging-base-build-deploy

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-north-1
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
    - name: Build, tag, and push image to Amazon ECR
      env:
        DOCKER_BUILDKIT: 1
      run: |
        docker build -t 654862118936.dkr.ecr.eu-north-1.amazonaws.com/terrateam-base:latest -f docker/terrat/Dockerfile.base .
        docker push 654862118936.dkr.ecr.eu-north-1.amazonaws.com/terrateam-base:latest
